pre_learning/data/FashionMNIST/raw/t10k-images-idx3-ubyte
pre_learning/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
pre_learning/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
pre_learning/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
pre_learning/data/FashionMNIST/raw/train-images-idx3-ubyte
pre_learning/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
pre_learning/data/FashionMNIST/raw/train-labels-idx1-ubyte
pre_learning/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
pre_learning/demo_minist/data/MNIST/raw/t10k-images-idx3-ubyte
pre_learning/demo_minist/data/MNIST/raw/t10k-images-idx3-ubyte.gz
pre_learning/demo_minist/data/MNIST/raw/t10k-labels-idx1-ubyte
pre_learning/demo_minist/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
pre_learning/demo_minist/data/MNIST/raw/train-images-idx3-ubyte
pre_learning/demo_minist/data/MNIST/raw/train-images-idx3-ubyte.gz
pre_learning/demo_minist/data/MNIST/raw/train-labels-idx1-ubyte
pre_learning/demo_minist/data/MNIST/raw/train-labels-idx1-ubyte.gz
.idea/.name
.idea/ahu_cv.iml
.idea/deployment.xml
.idea/markdown.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/sshConfigs.xml
.idea/vagrant.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
